/* -- ---- -- ---- -- ---- -- FONTS -- ---- -- ---- -- ---- -- */

@font-face {
  font-family: tiny;
  src: url("Assets/Fonts/TINY5x3-160.woff2");
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/Whyte\ Regular\ Italic.otf");
  font-weight: italic;
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/ABCWhyte-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/ABCWhyte-Bold.woff2");
  font-weight: bold;
}

/* -- ---- -- ---- -- ---- -- GENERAL -- ---- -- ---- -- ---- -- */

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #ffffff;
}

.triggers {
  width: 100vw;
  height: 1px;
  display: block;
  opacity: 1;
  border: rebeccapurple solid 1px;
  position: absolute;
}

#preloader {
  background: #fbfbfb url("Assets/Icons/loader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#p5_loading {
  background: #fbfbfb url("Assets/Icons/loader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* -- ---- -- ---- -- ---- -- NAVBAR -- ---- -- ---- -- ---- -- */

#navbar {
  height: 100vh;
  width: 3vw;
  position: fixed;
  background-color: #00c844;
  left: 0vw;
  opacity: 1;
}

#titolo {
  font-family: tiny;
  color: #ffffff;
  -webkit-text-stroke: #3e3e3e 0.08vw;
  font-size: 3vw;
  position: absolute;
  transform-origin: top left;
  width: 40vh;
  rotate: 270deg;
  left: 0.45vw;
  height: 2vw;
  bottom: -2vh;
  text-decoration: none;
  opacity: 0;
}

.bottoncini {
  font-family: whyte;
  position: absolute;
  font-weight: normal;
  color: #3e3e3e;
  font-size: 1.7vw;
  transform-origin: top left;
  left: 0.4vw;
  rotate: 270deg;
  text-decoration: none;
  transition-duration: 0.2s;
  opacity: 0;
}

#intro {
  top: 25vw;
  transition-duration: 0.2s;
}

#intro:hover {
  color: #ffffff;
}

#about {
  top: 8vw;
  transition-duration: 0.2s;
}

#about:hover {
  color: #ffffff;
}

#archive {
  top: 17.6vw;
  transition-duration: 0.2s;
}

#archive:hover {
  color: #ffffff;
}

/* -- ---- -- ---- -- ---- -- SCROLLITELLING -- ---- -- ---- -- ---- -- */

#container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  overflow: auto;
  overflow-x: clip;
  height: 100vh;
  width: 97vw;
  left: 3vw;
  scroll-behavior: smooth;
}

.pages {
  background-color: #ffffff;
}

.content {
  height: 100vh;
}

/* -- ---- -- ---- -- ---- -- LANDING PAGE -- ---- -- ---- -- ---- -- */

#firstpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00c844;
  left: 0vw;
}

#coperchio1 {
  position: absolute;
  left: 100vw;
  width: 97vw;
  height: 100vh;
  z-index: 30;
  background-color: #ffffff;
}

#titolone {
  font-family: tiny;
  color: #ffffff;
  font-size: 30vw;
  line-height: 18vw;
  text-align: center;
  -webkit-text-stroke: #3e3e3e 0.3vw;
  position: relative;
  top: 5vh;
  left: -3vw;
}

#initialanimationcont {
  width: 99vw;
  height: 100vh;
  position: absolute;
  left: -3vw;
}

.initialanimation {
  z-index: 10;
  position: absolute;
  pointer-events: none;
}

#coperchio2 {
  position: absolute;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background-color: #00c844;
}

/* -- ---- -- ---- -- ---- -- WIKIPEDIA DEFINITION -- ---- -- ---- -- ---- -- */

#wikidef {
  font-family: whyte;
  font-weight: normal;
  color: #3e3e3e;
  font-size: 4.8vw;
  width: 85vw;
  position: absolute;
  line-height: 4.8vw;
}

#secondpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.atxt {
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  top: -12vh;
}

#atxt1 {
  position: relative;
  top: 10vh;
}

#atxt2 {
  position: relative;
  top: 10vh;
}

#atxt3 {
  position: relative;
  top: 10vh;
}

#atxt4 {
  position: relative;
  top: 10vh;
}

#atxt5 {
  position: relative;
  top: 10vh;
}

#atxt6 {
  position: relative;
  top: 10vh;
}

#atxt7 {
  font-size: 3.8vw;
  position: relative;
  text-transform: none;
  color: #3e3e3e;
  top: 10vh;
  text-decoration: none;
}

/* -- ---- -- ---- -- ---- -- TRIGGERS -- ---- -- ---- -- ---- -- */

#tshowbar {
  top: 0vh;
  height: 100vh;
}

#tsecondpage {
  top: 10vh;
  height: 40vh;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.item {
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0vw;
  position: relative;
  text-align: center;
  left: -2vw;
}

i {
  color: #3e3e3e;
  margin-left: 20px;
  justify-content: center;
  font-family: whyte;
  font-size: 1.5vw;
}
